# For all text files, use LF as line ending in the repository
* text=auto eol=lf

# Explicitly set shell and script files to use LF
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.java text eol=lf
*.md text eol=lf

# Windows batch files (they need CRLF)
*.cmd text eol=crlf
